.full_body
{
   margin-top: 5%;
	width: 100%;
   height: 100%;
}

/*Connextion et enregistrement*/
/*form label {
display:block;
width:25%;
float:center;
}

#form_oublier
{
	float:center;
   	width: 25%;
   	margin-left: 20%;
   	background: #BA2F36;
}

#form_connect
{
	float:left;
   	width: 30%;
   	margin-left: 15%;
   	background: #BA2F36;
}
#form_register
{
	float: right;
   	width: 30%;
   	margin-right: 15%;
   	background: #BA2F36;
}
*/

/*page mon compte*/
#portrait
{
   float:center;
   width: 100px;
   height: 100px;
}

#form_compte
{
   margin-top: 5%;
   background: #BA2F36;
}

/*page photobooth */
.cam
{
   width: 30%;
   float: left;
}

.pic
{
   width: 30%;
   float: left;
}