* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: inline;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
	max-width: 1800px;
	height: 100%;
	margin: 0 auto;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  * {-moz-box-sizing: border-box; box-sizing: border-box;}
}
.header {
	font-family: "Brush Script Std", Brush Script MT, cursive;
	background-color: #BA2F36;
	font-size: 50px;
    padding: 15px;
    margin: 0 auto;
}
.header p {
	margin: 0 auto;
}
.menu {
	background-color: #BA2F36;
}
.menu ul {
	font-family: "Brush Script Std", Brush Script MT, cursive;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.menu li {
	display: inline-flex;
	list-style: none; /* necessaire pour IE7*/
    padding: 8px;
    margin-bottom: 7px;
    background-color: #BA2F36;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu a {
	font-size: 18px;
	text-decoration: none;
	color: black;
}
.menu a:hover {
    color: white;
}
/*
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
*/
/*design des formulaire*/
.form_wrapper{
   background:#fff;
   border:1px solid #ddd;
   margin:0 auto;
   margin-top: 10%;
   font-size:16px;
   -moz-box-shadow:1px 1px 7px #ccc;
   -webkit-box-shadow:1px 1px 7px #ccc;
   box-shadow:1px 1px 7px #ccc;
}
/*design photobooth & gallerie*/
.booth {
    background:#fff;
    border:10px solid #ddd;
    margin:0 auto;
    -moz-box-shadow:1px 1px 7px #ccc;
    -webkit-box-shadow:1px 1px 7px #ccc;
    box-shadow:1px 1px 7px #ccc;
}
/*design photo_gallerie*/
.pic_gallerie {
  background:#fff;
  border:1px solid #ddd;
  margin:0 auto;
  -moz-box-shadow:1px 1px 7px #ccc;
  -webkit-box-shadow:1px 1px 7px #ccc;
  box-shadow:1px 1px 7px #ccc;
}
/*button like*/
.heart {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius:12px 0 12px 0;
  background: #f5f5f5;
  border:none;
  color:#555;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  box-shadow:1px 1px 3px #999;
}
/*contenue commentaire page gallerie*/
.comment_text {
  width: 80%;
}
.comment_but {
  width: 15%;
  border-radius:5px 5px 5px 5px;
  background: #f5f5f5;
  border:none;
  color:#555;
  font:bold 10px Verdana;
  box-shadow:1px 1px 3px #999;
}
/*pagination */
.pagination {
  clear: both;
  position: relative;
  text-align: center;    
}

.pagination a {
  display: inline-block;
  color: black;
  margin: 2px 2px 2px 0;
  padding:6px 9px 5px 9px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #BA2F36;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
/*Croix rouge*/
.vignette {
    position: relative;
}
.cross {
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    background: rgba(255,255,255,0);
}
.footer {
	position: absolute; bottom: 0;
	width: 100%;
	max-width: 1800px;
}
.footer hr {
	color: solid black; 
}
.footer p {
	font-family: "Brush Script Std", Brush Script MT, cursive;
	text-align: right;
	margin-top: -10px;
	padding: 10px;
    background-color: #BA2F36;
	padding-right: 10px;
	font-size: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}