body
{
	max-width: 1800px;
	margin: 0 auto;
}

header
{
	height: 120px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#red
{
	background-color: #BA2F36;
}

#blue
{
	background-color: #1B8AD9;
}
h1
{
	font-size: 75px;
	font-family: "Brush Script Std", Brush Script MT, cursive;
	padding-left: 10px;
	margin: 0;
}

header img
{
	margin : 0;
	max-height: 100px;
}

#log_point
{
	float: right;
	position: relative;
	max-width: 300px;
}

#login_img
{
	margin-top: -80px;
	padding-right: 20px;
}
